In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_df= pd.read_csv(school_data_to_load)
student_df = pd.read_csv(student_data_to_load)

In [3]:
school_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
student_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
# Combine the data into a single dataset
complete_data = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])

In [6]:
complete_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [7]:
#Calculate the number of schools in the dataframe
school_count=len(complete_data["school_name"].unique())
school_count

15

In [8]:
#Calculate the total number of students in the dataframe
student_count=len(complete_data["Student ID"].value_counts())
student_count

39170

In [9]:
# Calculate budget total for all schools
budget_total = complete_data["budget"].unique().sum()
budget_total

24649428

In [10]:
#Calculate the average math score in the dataframe
average_math=complete_data["math_score"].mean()
average_math

78.98537145774827

In [11]:
#Calculate the average reading score in the dataframe
average_read=complete_data["reading_score"].mean()
average_read

81.87784018381414

In [35]:
#Calculate the % passing math rate
passing_math=complete_data[(complete_data["math_score"]>69)] 
passing_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [36]:
#Calculate the total number of students in the dataframe
student_count_passing_math=len(passing_math["Student ID"].value_counts())
student_count_passing_math

29370

In [39]:
math_per=student_count_passing_math / student_count
math_per

0.749808526933878

In [17]:
# Use pd.to_numeric() method to convert the datatype of the reading score column
complete_data["reading_score"] = pd.to_numeric(complete_data["reading_score"])

In [18]:
complete_data["reading_score"].dtype

dtype('int64')

In [20]:
#Calculate the % passing rate reading 
passing_reading=complete_data[(complete_data["reading_score"]>69)] 
passing_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [21]:
#Calculate the total number of students in the dataframe
student_count_passing=len(passing_reading["Student ID"].value_counts())
student_count_passing

33610

In [22]:
reading_per=student_count_passing / student_count
reading_per

0.8580546336482001

In [42]:
overall = (math_per + reading_per)/2
overall

0.8039315802910391

In [43]:
# Place all of the data found into a summary dataframe
summary_df=pd.DataFrame({"Total Schools":[school_count],
                        "Total Students":[student_count],
                        "Total Budget":[budget_total],
                        "Average Math Score":[average_math],
                        "Average Reading Score":[average_read],
                        "% Passing Math":[math_per],
                        "% Passing Reading":[reading_per],
                        "% Overall Passing Rate":[overall],})
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.803932

In [26]:
# Create a GroupBy object based upon school name
By_school = complete_data.groupby("school_name")

# Get the count of each coumn with the GroupBy object
Student_ID = By_school[["Student ID"]].count()
Student_ID["Student ID"]

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [27]:
# Get the count of each coumn with the GroupBy object
School_budget = By_school[["budget"]].mean()
School_budget["budget"]

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [29]:
# Calculate the per Student budget 
per_student_budget = School_budget["budget"] / Student_ID["Student ID"]
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [30]:
# Get the average of each coumn with the GroupBy object
per_average_math=By_school[["math_score"]].mean()
per_average_reading=By_school[["reading_score"]].mean()

In [46]:
#Calculate the % passing rate math
per_school_passing_math=By_school[["math_score"]]>69 
per_school_passing_math

TypeError: '>' not supported between instances of 'DataFrameGroupBy' and 'int'

In [32]:
#Calculate the % passing rate reading 
per_school_passing_reading=complete_data[(complete_data["reading_score"]>69)]

In [33]:
per_overall_passing=(per_school_passing_math + per_school_passing_reading) / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [34]:
# Place all of the data found into a summary dataframe
school_summary_df=pd.DataFrame({"School Type":type,
                        "Total Students":Student_ID,
                        "Total School Budget":School_budget,
                        "Per Student Budget" : per_student_budget,
                        "Average Math Score": per_average_math,
                        "Average Reading Score": per_average_reading,
                        "% Passing Math": per_school_passing_math,
                        "% Passing Reading": per_school_passing_reading,
                        "% Overall Passing Rate": per_overall_passing,})
school_summary_df

NameError: name 'per_overall_passing' is not defined

In [81]:
# Combine the data into a single dataset
complete_school_data = pd.merge(student_ID, school_df, how="left", on=["school_name", "school_name"])

NameError: name 'student_ID' is not defined

In [ ]:
# Create table that highlights the top 5 performing schools based on Overall Passing Rate

In [ ]:
# Create table that highlights the bottom 5 performing schools based on Overall Passing Rate

In [ ]:
# Create table that lists the average Math score for students of each greade level at each school

In [ ]:
# Create table that lists the average Reading score for students of each greade level at each school

In [ ]:
# Create a table that breaks down school performance based on approximate school size (small, medium, large)

In [ ]:
# Create a table that breaks down school performance based on school type (C vs. D)